// display flex : main axis (4 values) and cross axis. Direct children become flex items
// alignments, justifications and space btw items are to be set on the flex container, not on the items themselves
// The align-items property will align the items on the cross axis (Vertical)
// justify-content property will align the items on the main axis (Horizontal)
// color: font color
// grid lines are the most important thing in CSS grid
// Note: Justify-items is for display : grid while justify-content is for display : flex
// vertical-align property to align text and icon
// With width: 100% , an img ’s width will be equal to its parent’s width.
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2rem 0;
  .brand_container {
    display: flex;
    .brand {
      h2 {
        span {
          margin: left 0.5em;
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
          color: #45b649;
        }
      }
    }
  }
  .links {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      li {
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            @include gradientText;
          }
        }
        i {
          &:hover {
            @include gradientText;
          }
        }
      }
      button {
        padding: 0.5rem;
      }
    }
  }
}

// Percentage based padding works based on an elements width
// Inline elements such as span do no accept width or height (Only block or inline-block)
// When a fixed width is used on an element, there is a high probability that it will cause horizontal scrolling in mobile
// Using max-width is better as it will prevent the element from being wider than the viewport
// But.......By default, an HTML img will be sized according to its content. To prevent an image from being larger than the viewport, we can set the width property.
// With width: 100%, an img's width will be equal to its parent's width.
// However, sometimes we do not want that behaviour. There is a better alternative, which is to set max-width.
// max-width: 100% and height: auto
// This method ensures that a small image (650 by 250 px) won't take up the full width of a wide parent (say, 1500px). It would look pixelated if it did.
// On the other hand, if an image is wider that the viewport, then its would be equal to 100% of its parent.
