//The var() function is used to insert the value of a CSS variable.

.gradient {
  background: var(--gradient);
}

.defaultMargin {
  margin: 0 14rem;
}

// This linear gradient starts at the top and then from left to right
// background-origin property specifies the origin position (the background positioning area) of a background image.
// It could be padding-box, border-box or content-box
// in border-box, the background image starts from the upper left corner of the border
// background-clip property defines how far the background (color or image) should extend within an element. It could also be padding-box, border-box or content-box
// The box-shadow property defines the shadow of an element: first value is horizontal offset, second value is vertical offset, third value is blur, fourth value is spread and lastly shadow color
// Inset: Changes the shadow from an outer shadow (outset) to an inner shadow. Inset is kind of padding-box in origin
// gap: sets the gap between rows and columns
// Idea is to let the bck-img origin of both gradient start from the border-box
// then clip the first to the content-box and the second to the border-box
// but in order to see the cliped part of the second gradient, we need to make the border transparent
button {
  color: white;
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #dce35b, #45b649);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 100px 1px #0b0b0b inset;
  border: solid 4px transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

// Idea of coil is that if height is not stated, it will be zero and the origin of the div is on the horizontal axis (center). The border-top will also be at the center
.spring {
  display: flex;
  align-items: center;
  margin: 6rem 0;
  //border: solid 2px red;
  .coil {
    border-top: white dashed 0.1rem;
    width: 49.75%;
  }
  .bar {
    width: 0.5%;
    height: 7rem;
  }
}

.right {
  flex-direction: row-reverse;
}
// .right is for bar and coil

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  text-align: center;
  h2 {
    color: white;
  }
  p {
    color: rgb(153, 153, 153);
  }
}

h3 {
  color: white;
}

p {
  color: rgb(129, 128, 128);
}

.design {
  position: relative;
  //border: solid 3px green;
  .background {
    height: 10rem;
    width: 12rem;
    background: linear-gradient(to right, #dce35b, #45b649);
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -8px;
    //border: 5px solid red;
  }
}

// Solution to problem below

.design {
  .service {
    height: 100%;
  }
}

.design {
  .portfolio_container {
    height: 100%;
  }
}

.right-box {
  position: relative;
  //border: 5px solid red;
  .background {
    //position: absolute;
    top: auto;
    left: auto;
    right: -10px;
    bottom: -8px;
    //border: 5px solid blue;
  }
}

// right-box is for the green boxes

// Just buy puting the .right-box {.background} down, the CSS cascading works and takes preference. If it were before .design {.background}, the right-box will be up
// Note: Cascading will only effect the same css property before it
// top and left: auto : 	Lets the browser calculate the top edge position. This is default
// We used auto to reset the box to its normal position and remove the inherited value

// You don't need to indicate position relative and absolute in sass nesting

// For the left box (design >> background), we use position absolute and then left and top. For right box (right-box >> background), we first reset te leftand right
// values from left box with auto (browser calculation), and then add the right and bottom positions.
// If you do not give a div a height, and add contents in it, it will be flat. A div will always have a width like the screen size
// input is an inline element
// p[class] = matches any p element with an attribute called class

// When using percentages, the size of the box is relative to the size of the browser window, or if encased in another box, it is a percentage of the size of the containing box.
// NOTE: When you use em, the size of the box is based on the size of the text within it.
// min-width and max-width are used for limiting width
// min-width : Specifies the smallest size a box can be displayed at when the browser window is narrow
// max-width : Specifies the maximum width a box can stretch to when the browser window is wide
// max-width to ensure the text do not appear too wide within a big browser window and min-width to ensure the text do not appear too narrow
// min-height, max-height, and overflow property:

// Please NOTE: Percentage value for font-size or text is different for box.....for text, it is relative to default 16px, while for box, it is relative to screen size or containing box

// inline: This causes a block-level element to act like an inline element
// block: This causes an inline element to act like a block-level element
// inline-block: This causes a block-level element to flow like an inline element, whileretaining other features of a block-level element
